# Ignore environment files
.env
.env_old

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
*.sublime-workspace
*.sublime-project